@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial, Helvetica, sans-serif;
}

@layer base {
    :root {
        --radius: 0.5rem;
        --sidebar-background: 0 0% 100%;
        --sidebar-foreground: 240 5.3% 26.1%;
        --sidebar-primary: 270 63% 30%; /* #501b7b */
        --sidebar-primary-foreground: 0 0% 98%;
        --sidebar-accent: 270 63% 92%; /* a lighter violet */
        --sidebar-accent-foreground: 270 63% 30%;
        --sidebar-border: 220 13% 91%;
        --sidebar-ring: 270 63% 30%; /* match ring to primary */
    }
    
    .dark {
        --sidebar-background: 240 5.9% 10%;
        --sidebar-foreground: 240 4.8% 95.9%;
        --sidebar-primary: 270 63% 45%; /* lighter for dark bg */
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 270 50% 20%;
        --sidebar-accent-foreground: 270 63% 92%;
        --sidebar-border: 270 50% 20%;
        --sidebar-ring: 270 63% 45%;
    }
    
}
